@import "bootstrap";
@import "bootstrap-sprockets";
@import "typeahead.scss";


.jumbotron {
  padding-left: 20px;
}

.home {
  margin-bottom: 10px;
}

.product {
  padding: 0;
  margin: 0;
  margin-left: 15px;
  width: 23%;
  img {
    max-width: 100%;
  }
}

#search {
  margin-bottom: 10px;
  text-align: center;
  #search_products {
    width: 100% !important;
  }
  #search-button {
    display: inline;
  }

}
