@import "bootstrap";
@import "bootstrap-sprockets";
@import "typeahead.scss";
@import "masonry_custom";
@import 'masonry/basic';
@import 'masonry/centered';
@import 'masonry/fluid';
@import 'masonry/gutters';
@import 'masonry/infinitescroll';
@import 'masonry/right-to-left';
@import 'masonry/transitions';


.jumbotron {
  padding-left: 20px;
}

.home {
  margin-bottom: 10px;
}

.product {
  padding: 0;
  margin: 0;
  margin-left: 7.5px;
  margin-right: 7.5px;
  margin-bottom: 15px;
  img {
    max-width: 100%;
  }
}

.buy {
  margin-top: 5px;
  position: relative;
  .price {
    float: left;
    position: absolute;
    bottom: 0;
  }
  .buy-now {
    float: right;
  }
}

#search {
  position: relative;
  height: 26px;
  margin-bottom: 10px;
  #search-form {
    position: absolute !important;
    left: 5%;
    .search-group {
      .input {
        float: left;
      }
        // margin-bottom: 10px;
        // text-align: left;
      #search_products {

      }
      #search-button {
        display: inline;
      }
    }
  }
  #search-details {
    position: absolute;
    top: 31px;
    left: 5%;
  }
}